# Angular build
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Misc
.DS_Store
Thumbs.db
